html {
  font-family: sans-serif;
}

body{
  margin : 0;
}

* {
  box-sizing: border-box;
}

h1, h2, p {
  margin: 2%;
}

.etat-feuille-de-match {
    display: block;
    padding: 15px;
    font-weight: bold;
    border: solid 2px;
    font-size: 1.5rem;
}

.etat-feuille-de-match.feuille-de-match-complete {
    background-color: #edf8f0;
    color: #4ec466;
    border-color: #4ec466;
}

.etat-feuille-de-match.feuille-de-match-incomplete {
    background-color: #fcf0ec;
    color: #ea6123;
    border-color: #ea6123;
}

table {
  letter-spacing: 1px;
  width: 100%;
  font-size: 0.8rem;
  border-spacing: 0;
}

caption {
    caption-side: top;
    text-align: left;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

.overflow {
  overflow: scroll;
  display: block;
  margin: 2%;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px;
}

th {
  background-color: #333;
  color: white;
}

td {
  text-align: center;
  margin : 2%;
}

td.actions, th.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

/* Navbar container */
.navbar {
  background-color: #333;
  font-family: Arial;
  position: sticky;
  height: 3em;
  top: 0;
}

.navbar button {
  height: 3em;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  height: 3em;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.selected-players-info{
  display: flex;
  flex-direction: row;
}
.selected-players-info div{
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

.selected-players-info img {
  border-radius: 50%; 
  width : 50px; 
  height:50px;
  object-fit:cover;
}
 
.selected-players-info h3, .selected-players-info p{
  margin-top : 10px;
  margin-bottom : 10px;
}

input[type=text], input[type=date], input[type=time], textarea, input[type=search], select, input[type=password]  {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
textarea {
  resize: vertical;
  height: 12em;
}

label {
  padding: 8px 8px 8px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #333;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  float: right;
}

input[type=submit].create {
    background-color: #edf8f0;
    color: #4ec466;
    border-color: #4ec466;
}

input[type=submit].update {
    background-color: #fef8ec;
    color: #efa200;
    border-color: #efa200;
}

button {
  background-color: #333;
  color: white;
  padding: 12px 12px;
  border: solid 1px;
  cursor: pointer;
}

button.create {
    background-color: #edf8f0;
    color: #4ec466;
    border-color: #4ec466;
}

button.info {
    background-color: #e9f2f9;
    color: #0f72eb;
    border-color: #0f72eb;
}

button.update {
    background-color: #fef8ec;
    color: #efa200;
    border-color: #efa200;
}

button.delete {
    background-color: #fcf0ec;
    color: #ea6123;
    border-color: #ea6123;
}

.backButton {
  margin-left: 2%;
  margin-top: 2%;
}

.largeSubmit {
  width : 100%;
}

input[type=submit]:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}


.container, .selected-players-info {
  margin: 1%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 1%;
}

.col-20 {
  float: left;
  width: 20%;
}

.col-80 {
  float: right;
  width: 80%;
}

.invCol-20 {
  float: right;
  width: 20%;
}

.invCol-80 {
  float: left;
  margin-right : 2%;
  width: 78%;
}

.row {
  margin-top: 4px;
  margin-bottom: 4px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

.filter-button {
    max-width: 350px;
    min-width: 350px;
    width: 350px;
}

/* .rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
} */

.stars {
  position: relative;
  float: left;
  font-size: 30px;
  height: 50px;
  line-height: 50px;
  z-index: 0;
}

.stars:before {	
  content: "\2606\2606\2606\2606\2606";
  float: left;
  z-index: 1;
}

.stars .percent {
  position: absolute;
  left: 0;
  float: left;
  overflow: hidden;
  z-index: -1;
}

.stars .percent:after {	
  content: "\2605\2605\2605\2605\2605";
  color: rgb(255, 200, 0);
}

li {
  display: table;
}

ul{
  padding : 0;
  margin : 0;
}

.TripleGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2%;
  grid-row-gap: 2em;
  text-align: center;
  margin: 2%;
}

.TripleGrid div {
  border-radius: 5px;
  background-color: #f2f2f2;
}

.CentredContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: auto;
  max-width: 50em;
}

@media screen and (max-width: 600px) {
  .col-20, .col-80, .invCol-20, .invCol-80, input[type=submit] {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  
  .row {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .container, .overflow, .selected-players-info {
    margin-right: 0;
    margin-left: 0;
    border-radius: 0;
  }
  
  tr:first-child th:first-child, tr:first-child th:last-child, tr:last-child td:first-child, tr:last-child td:last-child {
    border-radius: 0 0 0 0;
  }
}