RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]


# Fichiers statiques servis directement
RewriteCond %{REQUEST_URI} \.(css|jpg|jpeg|png|gif|ico|js)$ [NC]
RewriteRule ^ - [L]

# Routes Auth API
RewriteRule ^auth-api(/.*)?$ auth-api/index.php [QSA,L]

# Routes API
RewriteRule ^api/rencontre(/.*)?$ api_rencontre.php [QSA,L]
RewriteRule ^api/participation(/.*)?$ api_participation.php [QSA,L]
RewriteRule ^api/joueur(/.*)?$ api_joueur.php [QSA,L]
RewriteRule ^api/statistiques(/.*)?$ api_statistiques.php [QSA,L]

# Reste : front-end MVC classique
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]